/* Header.css */

nav {
  background-color: #f4f4f8;
  padding: 10px 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.logo img {
  height: 40px; /* Chiều cao cố định cho logo */
  width: auto; /* Chiều rộng tự động để giữ tỷ lệ */
  border-radius: 50%; /* Bo tròn logo */
  border: 8px solid #fdfdfc; /* Đường viền cho logo */
  max-width: 100%; /* Không cho logo vượt quá chiều rộng của navbar */
  display: block;
}

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 0;
  margin: 0;
}

.navbar-menu li a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-menu li a:hover {
  color: #f39c12;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 8px 16px;
  border: none;
  font-size: 16px;
  background-color: #fdfdfc;
  color: rgb(37, 149, 253);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c7e3f7;
}
button:focus {
  outline: none;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: flex-start;
  }

  .navbar-menu {
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
  }

  .nav-buttons {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
  }

  button {
    width: 100%;
    text-align: center;
  }
  .logo img {
    height: 30px; /* Chiều cao logo nhỏ hơn trên*/
  }
}